.Navbar{
    background-color: "#2e3192";
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.Sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: 16%;
        margin-top: 50px;
        
}